<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV"          value="testing"/>
        <env name="BCRYPT_ROUNDS"    value="4"/>
        <env name="CACHE_STORE"      value="array"/>
        <env name="DB_CONNECTION"    value="pgsql" force="false"/>
        <env name="DB_DATABASE"      value="sadcpfnexus_test" force="false"/>
        <env name="MAIL_MAILER"      value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER"   value="array"/>
        <!-- Never require privileged MFA in PHPUnit (middleware also skips APP_ENV=testing). -->
        <env name="REQUIRE_PRIVILEGED_MFA" value="false"/>
        <env name="SENTRY_LARAVEL_DSN" value=""/>
    </php>
</phpunit>
